

/* teamlist 컴포넌트 css */
.teamlist-div-component{
    border: 1px solid var(--color-normal4);
    border-radius: 5px;
    padding: 10px;
}

/* teamlist 컴포넌트 제목 */
.teamlist-div-component_title{
    font-size: 20px;
    color: var(--color-normal9);
}

/* teamlist 컴포넌트 내용 */
.teamlist-div-component_content{
    font-size: 12px;
    color: var(--color-normal9);
}

/* textbox 컴포넌트 css */
.textbox{
    border: 1px solid var(--color-normal8);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

/* textbox focus 될 때 색상 변하기 */
.textbox:focus{
    outline-color: var(--color-point-applegreen);
}

/* -------divbox css------ */
.divbox{
    border: 1px solid var(--color-normal4);
    border-radius: 5px;
    padding: 10px;
}
.divbox_div-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.divbox_title{
    color: var(--color-point-green);
    font-size: 15px;
}

.divbox_button{
    background-color: white;
}

.divbox_div-content{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--color-normal9);
    align-items: center;
}

.divbox_content-date{
    color: var(--color-normal6);
}
