.LoginCompoent{
 padding: 14vw 0vw 14vw 0vw;
}

.error-msg{
 color: red;
 font-size: 2.7vw;
}

.LoginBox1 {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-bottom: 15vw;
}

.LoginBox1 h1{
 font-size: 8vw;
 padding: 0vw 5vw 10vw 5vw;
}

.LoginBox1 input{
 width: 70vw;
 height: 6vh;
 margin-bottom: 2vw;
 border-radius: 2vw;
}

.LoginCompoent Button{
 width: 90vw;
 font-size: 20px;
}

.LoginBox2{
 align-items: center;
 text-align: center;
}

.memberInfo{
 padding-bottom: 8vw;
}

.LoginBox2 hr{
 width: 80vw;
 margin-bottom: 10vw;
}

.LoginBox2 Button {
 background-color: #FFDC23;
}