.scheduleBox {
  margin-top: 4vh;
}

.scheduleBox label {
  font-size: 3.5vw;
  font-weight: 800;
}

.scheduleTable {
  margin-top: 1vh;
  width: 100%;
  text-align: center;
  border-radius: 2vw;
  border-collapse: collapse;
  background-color: var(--color-normal2);
}

.scheduleTable_title {
  background-color: var(--color-point-green);
  color: var(--color-normal2);
}

.scheduleTable_title td:first-child {
  border-radius: 2vw 0 0 0;
}

.scheduleTable_title td:last-child {
  border-radius: 0 2vw 0 0;
}

.scheduleTable_title td {
  padding: 2vw;
  font-size: 3.5vw;
  font-weight: 600;
}

.scheduleTable_content td {
  padding: 1.2vw;
}

.scheduleTable_content {
  border-radius: 2vw;
  font-size: 3.2vw;
}
