.scheduleBox {
  max-width: 100vw;
  min-width: 100vw;
  min-height: 26vh;
  position: relative;
  margin: 10vw 0vw;
}

.scheduleBox h1 {
  font-size: 4vw;
  position: absolute;
  left: 8vw;
  top: 4vw;
}

.scheduleBoxInner {
  background: var(--point4, #25a18e);
  border-radius: 15px;
  width: 90vw;
  height: 15vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheduleBoxInner table {
  z-index: 1;
}

.scheduleBoxInner td {
  padding-right: 2vw;
  padding-bottom: 2.5vw;
  font-size: 3.5vw;
  text-align: center;
}

.oddNum {
  color: var(--normal1, #f8f9fa);
}

.evenEffect1 {
  background: var(--point5, #7ae582);
  width: 100%;
  height: 3vh;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.evenEffect2 {
  background: var(--point5, #7ae582);
  width: 100%;
  height: 3vh;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  z-index: 0;
}
