.searchBar {
  display: flex;
  justify-content: space-between;
  background: var(--color-normal3);
  margin: auto;
  border-radius: 2vw;
  margin-bottom: 2vh;
}

.searchBar input {
  width: 100%;
  min-height: 4vh;
  background: var(--color-normal3);
  color: var(--color-normal6);
  border-radius: 2vw;
  border: none;
  font-family: "NotoSansBengaliUi-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.searchBar button {
  min-width: 4vw;
  min-height: 4vh;
  z-index: 2;
  background-color: transparent;
  margin-right: 1vh;
}
