.SignupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14vw 10vw;
}

.SignupPage h1 {
  font-size: 5vw;
  font-weight: bold;
}

.SignupComponentBox1,
.SignupComponentBox2,
.SignupComponentBox3 {
  padding: 15vw 0vw;
}

.SignupPage input {
  border-radius: 3vw;
  height: 5vh;
}

/* SignupComponentBox1 */
.SignupComponentBox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SignupComponentInner {
  display: flex;
  align-items: center;
  margin-bottom: 4vh;
}

.SignupComponentInner Button {
  padding: 1vw 2vw;
}

.SignupComponentInner input {
  margin-right: 10px;
  width: 50vw;
}

/* genderBtn */
.genderBtn {
  color: var(--color-normal1);
  padding: 2vw 3vw;
  font-size: 20px;
  border-radius: 50px;
  background-color: var(--color-normal3);
}

.genderBtn:focus {
  background-color: var(--color-point-green);
}
