button {
  border: 0;
  padding: 0;
  margin: 0;
}

/* Button */
.button_main {
  color: var(--color-normal9);
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  font-size: 20px;
  border-radius: 50px;
}

.button_sub {
  color: var(--color-normal1);
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.button_toggle {
  color: var(--color-normal1);
  padding: 2vw 15vw;
  font-size: 20px;
  border-radius: 50px;
  background-color: var(--color-normal3);
}

.button_toggle.selected {
  /* 선택된 버튼 스타일 */
  background-color: var(--color-point-green);
}

.green {
  background-color: var(--color-point-green);
}

.applegreen {
  background-color: var(--color-point-applegreen);
}

.applegreen:active {
  background-color: var(--color-point-lightgreen);
}

.isSelect {
  background-color: var(--color-point-green);
  border: 1px solid var(--color-point-green);
}

/* weekButton */
.weekButton {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 12vw;
}

.weekButton button,
.memberFeeButton button,
.genderButton button,
.ageGroupButton button {
  color: var(--color-normal1);
  padding: 2vw 3vw;
  font-size: 20px;
  border-radius: 50px;
  background-color: var(--color-normal3);
  width: fit-content;
  margin: 0.5vw;
  margin: 0 auto;
}

.weekButton button,
.genderButton button,
.ageGroupButton button {
  font-size: 20px;
}

.weekButton button:focus,
.timeButton button:focus,
.memberFeeButton button:focus,
.genderButton button:focus,
.ageGroupButton button:focus {
  background-color: var(--color-point-green);
}

/* timeButton, memberFeeButton */
.timeButton,
.memberFeeButton {
  font-size: 1.5vw;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

/* timeButton 수정 -지현 */
.timeButton button {
  color: var(--color-normal1);
  font-size: 16px;
  border-radius: 50px;
  background-color: var(--color-normal3);
  width: 17vw;
  height: 17vw;
}

.memberFeeButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* genderButton */
.genderButton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ageGroupButton */
.ageGroupButton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
